@media (min-width: 1300px) {
  .container {
    width: 1216.01px;
    max-width: 1216.01px;
    padding: 0 3.2rem;
  }
  .container_lg {
    width: 1256px;
    max-width: 1256px;
    padding: 0 3.2rem;
  }
}
@media (max-width: 1299px) {
  .container {
    width: 1100px;
    max-width: 1100px;
    padding: 0 3.2rem;
  }
  .container_lg {
    width: 1100px;
    max-width: 1100px;
    padding: 0 3.2rem;
  }
}
@media (min-width: 992px) and (max-width: 1299px) {
  .logo_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.2rem;
  }
  .logo_boxes a {
    display: flex;
    justify-content: center;
  }
  .service_box .text_1 br {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 50%;
  }
  .container {
    width: 920px;
    max-width: 920px;
  }
}

@media (min-width: 992px) {
  /* ----------- Mobile Menu ----------- */
  .hamburger {
    display: none;
  }
  .submenu_wrap:hover .submenu {
    top: calc(100% - 2rem);
    height: 15.2rem;
    opacity: 1;
  }
  /* ---------- Expertize Section ----------- */
  .expert_tab_lg {
    display: block;
  }
  .expert_tab_sm {
    display: none;
  }

  /* ---------- Sponsor Section ------------- */
  .logo_boxes_sm {
    display: none;
  }

  /* ----------- Project Section ---------- */
  .text_project_lg {
    display: block;
  }
  .text_project_sm {
    display: none;
  }
}
@media (max-width: 991px) {
  .container {
    width: 680px;
    max-width: 680px;
  }
  /* ---------- Common Classes --------- */
  br {
    display: none;
  }
  .title_xxl {
    font-size: 5rem;
    text-align: center;
  }

  /* ---------- Mobile Menu ----------- */
  .header_right {
    position: fixed;
    width: 100%;
    top: 7.2rem;
    left: 0;
    height: 0;
    background: #4595e6;
    padding: 0 2rem;
    opacity: 0;
    transition: 0.3s;
  }
  .header_right.active {
    height: 23rem;
    opacity: 1;
  }
  .header_right .primary_menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .header_right .primary_menu a,
  .header_right .primary_menu {
    height: fit-content;
    color: #fef8f0;
  }
  .header_right .headerbtn {
    display: none;
  }
  .header_right .menulink.submenu_wrap {
    justify-content: flex-start;
    color: #fef8f0;
  }
  .header_right .menulink.submenu_wrap img {
    filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(775%)
      hue-rotate(227deg) brightness(122%) contrast(100%);
  }
  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .h_x {
    display: none;
    filter: brightness(0) saturate(100%) invert(28%) sepia(88%) saturate(1558%)
      hue-rotate(202deg) brightness(95%) contrast(78%);
  }
  .hamburger.active .h_bar {
    display: none;
  }
  .hamburger.active .h_x {
    display: block;
  }
  .submenu {
    top: calc(100% - -1rem);
  }
  .submenu .menulink2 {
    color: #4595e6 !important;
    height: 100% !important;
  }
  .submenu_wrap.active .submenu {
    overflow: visible;
    opacity: 1;
    height: 15rem;
  }
  .menulink2:hover {
    color: #4596e6c1 !important;
    opacity: 1;
    background: transparent;
  }
  .menulink.submenu_wrap.active {
    color: #efefef;
  }
  .menulink.submenu_wrap.active img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(1055%)
      hue-rotate(276deg) brightness(110%) contrast(87%);
  }
  /* ---------------- Navbar Section ------------- */
  .navbar {
    height: 7.2rem;
  }

  /* ------------ Hero Content ------------ */
  .hero_section {
    margin-top: 7.2rem;
  }
  .hero_content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* ------------- Sponsors Section ---------- */
  .logo_boxes {
    display: none;
  }
  .logo_boxes_sm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    margin-top: 3.2rem;
  }
  .logo_boxes_sm a:nth-child(1),
  .logo_boxes_sm a:nth-child(3),
  .logo_boxes_sm a:nth-child(5) {
    display: flex;
    justify-content: flex-end;
  }

  /* --------------- About Section Two ------------- */
  .about_img.figure .about2_sm {
    display: block;
  }
  .about_img.figure .about2_lg {
    display: none;
  }
  .about_content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
  }
  .about_content .title_xl br {
    display: block;
  }
  .about_section .text_section {
    text-align: center;
  }
  .about_img {
    right: 0;
  }
  .about_content .text_3 {
    white-space: initial;
    padding-bottom: 3.2rem;
  }
  .buttons {
    justify-content: center;
  }
  .about2_sm {
    display: block !important;
  }
  .about_content .title_xl {
    line-height: 4rem;
    letter-spacing: -0.64px;
  }
  /* ----------- Project Section ----------- */
  .project_slide {
    padding: 4rem 4rem;
    align-items: center;
    gap: 4.8rem;
    width: 100%;
    flex-direction: column;
    height: fit-content;
  }
  .project_content p {
    white-space: initial;
  }
  .project_content {
    text-align: center;
    width: calc(100% - 7rem);
  }
  .project_content ul {
    padding: 3.2rem 0;
    display: grid;
    gap: 2rem;
    padding-bottom: 0;
    justify-content: center;
  }
  .project_slide .button_two {
    margin: 0 auto;
    margin-top: 2rem;
    width: 80%;
  }
  .project_slide .button_two {
    margin-top: 3rem;
    justify-content: center;
  }
  .project_content ul p {
    text-align: left;
  }
  .text_project_lg {
    display: none;
  }
  .text_project_sm {
    display: block;
  }

  /* ---------- Expertize Section ----------- */
  .etab_contents {
    margin-bottom: 0;
  }
  .etab_content {
    position: initial;
    opacity: 1;
    transition: 0.5s ease;
    visibility: visible;
    transform: scale(1);
    position: initial;
    opacity: 1;
    transition: 0.5s ease;
    visibility: visible;
    transform: scale(1);
    flex-direction: column;
    width: fit-content;
  }
  .expert_tab_lg {
    display: none;
  }
  .expert_tab_sm {
    display: block;
  }
  .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  .owl-nav button {
    border-radius: 2.8rem;
    border: 1px solid #c4e2f9;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(0.4rem);
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    cursor: pointer;
  }
  .enav_box {
    padding: 1.6rem 0.8rem 0rem 0.8rem;
    border-top: 2px solid #4595e6;
    margin-top: 2.4rem;
  }
  .enav_box .text_1 {
    padding-bottom: 1.6rem;
  }
  .expert_tab_sm .etab_content > img {
    width: auto;
    margin: 0 auto;
  }
  .expert_tab_sm .owl-item {
    justify-content: center;
  }
  .expert_tab_sm .owl-item {
    justify-content: center;
  }
  .expertize_section .text_3 {
    padding-bottom: 3.2rem;
  }
  /* ----------- Footer Section -------------- */
  .footer_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .row1 {
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 4.8rem;
  }
  .row1 .social_icons {
    display: flex;
  }
  .footer_top .social_icons a img {
    width: 1.6rem;
    height: 1.6rem;
  }
  .footer_top .social_icons a {
    display: flex;
  }
  .footer_top .social_icons {
    gap: 0.8rem;
    justify-content: flex-end;
  }
  .footer_menu {
    gap: 1.6rem;
    margin-top: 3.2rem;
  }
  .row2 {
    padding-top: 2.4rem;
    gap: 1.6rem;
    border-top: 1px solid #9ccff4;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .container {
    width: 500px;
    max-width: 500px;
    padding: 0 2rem;
  }
  /* ---------- Common Classes --------- */
  .title_xxl {
    font-size: 4rem;
  }
  .title_xl {
    font-size: 3.2rem;
    letter-spacing: -0.64px;
  }
  .text_3 {
    font-size: 1.8rem;
  }
  /* ---------- Hero Content ---------- */
  .hero_section {
    padding-top: 23rem;
    padding-bottom: 15rem;
  }
  .hero_content {
    gap: 5.6rem;
  }
  .hero_section {
    background: url(../img/herosectionsm.jpg) no-repeat scroll top left / 100%
      100%;
  }
  /* ------------- Sponsors Section ---------- */
  .sponsor_section {
    padding: 3.2rem 0;
  }
  .logo_boxes_sm img,
  .logo_boxes_sm a {
    height: 3.6rem;
  }
  .logo_boxes_sm a:nth-child(1),
  .logo_boxes_sm a:nth-child(3),
  .logo_boxes_sm a:nth-child(5) {
    display: flex;
    justify-content: flex-end;
  }

  /* ------------ Service Section ---------- */
  .service_boxes {
    flex-direction: column;
  }

  /* ------------ Project Section --------------- */
  .project_section {
    padding: 6.4rem 0;
  }
  .project_content {
    text-align: center;
    width: calc(100% - 5rem);
  }
  .project_slide {
    padding: 4rem 1rem;
  }
  .project_content .project_content .text_2 {
    font-size: 1.6rem;
  }
  .project_content .title_lg {
    font-size: 2.5rem;
    line-height: 3.8rem;
  }
  .project_content .text_2 {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
  .project_content ul li img {
    width: 2.4rem;
    height: 2.4rem;
  }

  /* ------------ About Section ------------ */
  .buttons {
    display: grid;
    width: 100%;
    justify-content: initial;
  }
  .button_one {
    height: 4.8rem;
    justify-content: center;
  }
  /* ------------ Expertize Section ------------ */
  .expertize_section {
    padding: 6.4rem 0;
  }
  .expertize_section .expertize_container {
    width: calc(100% - 8rem);
  }
  .owl-nav {
    width: calc(100% + 7.4rem);
    transform: translateY(-50%) translateX(-3.7rem);
  }
  .etab_contents {
    overflow: visible;
  }
  .expert_tab_sm .etab_content > img {
    width: 100%;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 2.66vw;
  }
  .container {
    width: calc(100% - 3.2rem);
    padding: 0;
  }
}
